$color-primary: #e65100;
$color-secondary: #fff09f;
$color-background: #fafafa;

@use '@material/theme' with (
  $primary: $color-primary,
  $secondary: $color-secondary,
  $background: $color-background,
);

@use '@material/button/styles' as mdc-button;

@use '@material/checkbox';
@use '@material/form-field';

@use '@material/chips/styles' as mdc-chips;

@use "@material/list";

@use '@material/floating-label/mdc-floating-label';
@use '@material/notched-outline/mdc-notched-outline';
@use '@material/textfield';

@include checkbox.core-styles;
.mdc-checkbox {
  @include checkbox.container-colors(
    $unmarked-stroke-color: $color-primary,
    $unmarked-fill-color: transparent
  );
  @include checkbox.ink-color(white);
}

@include list.deprecated-core-styles;

@include form-field.core-styles;

@include textfield.core-styles;
